{% extends "layout.html" %}

{% block stylesheets %}
  {% include "govuk-prototype-kit/includes/stylesheets.html" %}
  <link href="/public/stylesheets/product-page.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block header %}
{% set productNameHtml %}
          Forms
          <strong class="govuk-tag govuk-phase-banner__content__tag">
            beta
          </strong>
{% endset %}

{{ govukHeader({
  useTudorCrown: false,
  rebrand: false,

  homepageUrl: "/product-pages/mou",
  productName: productNameHtml | safe,

  navigation: [
    { text: "Get started", href: "get-started" },
    { text: "Features", href: "features" },
    { text: "Support", href: "support" },
    { text: "Sign in", href: "https://admin.research.forms.service.gov.uk/" }
  ]
}) }}
{% endblock header %}


{% block content %}
<a href="index.html" class="govuk-back-link">Back </a>

<div class="govuk-grid-row">
  <div class="govuk-panel govuk-panel--confirmation">
    <h1 class="govuk-panel__title">
      You’ve agreed to the MOU
    </h1>
  </div>
  <div class="govuk-grid-column-two-thirds">

    <p> </p>
    <p> </p>
  
    <h1 class="govuk-heading-l">What happens next</h1>
  
   <p> We’ll email you with any updates to the MOU that are made in the future. </p>
    
   
  
{% endblock content %}

